.BoxGray {
  background-color: #4e4e4e;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}
.BoxBorder {
  border: 2px solid white;
  padding: 40px;
  width: 500px;
  line-height: 25px;
}
.Rescue {
  color: white;
  font-size: 32px;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.BoxText {
  color: #a7a79e;
  margin-top: 10px;
}
.orangeBox {
  background-color: rgb(253, 95, 0);
}
.RedBox {
  background-color: #a23131;
}
.HomeFirst {
  display: flex;
  align-items: center;
  justify-content: center;
}
.MapImg {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.Cart {
  width: 250px;
  text-align: center;
  padding: 20px;
  line-height: 25px;
  border: 1px solid rgba(128, 128, 128, 0.287);
}
.Maptitle {
  font-size: 24px;
  font-weight: 500;
  color: #fd5f00;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.MapCatagory {
  font-size: 16px;
  font-weight: 400;
  color: #939393;
}
.Carts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 100px;
}
.AddImg {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.DetailCarts {
  display: flex;
  background-color: rgba(128, 128, 128, 0.341);
  width: 600px;
  margin: auto;
  gap: 20px;
  align-items: center;
}
.Lorem {
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #939393;
}
.DetailBtn {
  background-color: #fd5f00;
  color: white;
  padding: 8px 50px;
  border: 1px solid #fd5f00;
  margin-top: 10px;
}
form {
  margin: auto;
  background-color: black;
  padding: 30px;
  width: 300px;
  text-align: center;
}
input {
  height: 50px;
}
