.BoxGray {
  background-color: #4e4e4e;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}
.BoxBorder {
  border: 2px solid white;
  padding: 40px;
  width: 500px;
  line-height: 25px;
}
.Rescue {
  color: white;
  font-size: 32px;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.BoxText {
  color: #a7a79e;
  margin-top: 10px;
}
.orangeBox {
  background-color: rgb(253, 95, 0);
}
.RedBox {
  background-color: #a23131;
}
.HomeFirst {
  display: flex;
  align-items: center;
  justify-content: center;
}
.MapImg {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.Cart {
  width: 250px;
  text-align: center;
  padding: 20px;
  line-height: 25px;
  border: 1px solid rgba(128, 128, 128, 0.287);
}
.Maptitle {
  font-size: 24px;
  font-weight: 500;
  color: #fd5f00;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.MapCatagory {
  font-size: 16px;
  font-weight: 400;
  color: #939393;
}
.Carts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 100px;
}
.AddImg {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.DetailCarts {
  display: flex;
  background-color: rgba(128, 128, 128, 0.341);
  width: 600px;
  margin: auto;
  gap: 20px;
  align-items: center;
}
.Lorem {
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #939393;
}
.DetailBtn {
  background-color: #fd5f00;
  color: white;
  padding: 8px 50px;
  border: 1px solid #fd5f00;
  margin-top: 10px;
}
form {
  margin: auto;
  background-color: black;
  padding: 30px;
  width: 300px;
  text-align: center;
}
input {
  height: 50px;
}
.SortBtn {
  background-color: rgb(0, 123, 255);
  color: white;
  padding: 10px 30px;
  border: 1px solid rgb(0, 123, 255);
  border-radius: 20px;
  margin-left: 5px;
}
.InfoBox {
  text-align: center;
  padding: 50px;
}
.Search {
  border-radius: 25px;
  width: 250px;
  border: 1px solid rgba(128, 128, 128, 0.463);
}
.OurLeader {
  text-align: center;
}
.ourleadershiptext {
  font-size: 64px;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.PersonImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: contain;
}
.Expert {
  font-size: 12px;
  font-weight: 500;
  color: #b8b8b8;
  letter-spacing: 1.2px;
  margin: 10px 0;
}
.IconBox {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: #fd5f00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.IconOur {
  color: white;
}
.IconBoxs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  margin: 15px 0;
}
.personcart {
  width: 300px;
  border: 1px solid rgba(128, 128, 128, 0.19);
  text-align: center;
  padding: 30px 20px;
}
.PerSonCarts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 60px;
}
.Hero1No {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  object-fit: contain;
}
.Company {
  font-size: 32px;
  font-weight: 500;
  color: #fd5f00;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.Date {
  font-size: 12.8px;
  font-weight: 400;
  color: #6c757d;
  margin: 15px 0;
}
span {
  color: #fd5f00;
}
.HeroCarts {
  width: 100%;
  padding: 30px 100px;
  text-align: center;
}
.Hero1Lorem {
  color: #939393;
  font-size: 16px;
  font-weight: 400;
}
.HeroCart {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 992px) {
  .HomeFirst {
    flex-direction: column;
  }
  .BoxBorder {
    width: 100%;
  }
  .Carts {
    flex-direction: column;
    gap: 50px;
    padding: 100px;
  }
  .PerSonCarts {
    flex-direction: column;
  }
  .HeroCart {
    flex-direction: column;
    justify-content: space-around;
  }
}
@media screen and (max-width: 1350px) {
  .HomeFirst {
    flex-direction: column;
  }
  .BoxBorder {
    width: 90%;
  }
}
